.navbar-brand{
    margin-left: 100px;
}

.nav-item{
    margin-left: 20px;
}

#navbarNav{
    margin-left: 100px;
}

ul{
    list-style-type: none;
}

.font-size{
    margin-left: ;
}

.list{
    margin-left: 6px;
}

.font-size{
    margin-left: 5px;
}

.float{
    margin-left: 840px;
    opacity: 0.5;
}

.logo{

    font-size: 92px;
    margin-left: 72px;
}

.information{
    margin-left: 145px;
}

.icon{
    margin-left: 10px;
}

.icon1{
    margin-left: 13px;
}